body {
    background-color: black;
    font-family: helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    text-align: center;
}
.logo {
    height: 50px;
    margin-left: 10px;
}